
body {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  background-color: black;
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 100vh;
}
body::-webkit-scrollbar{
  display: none;
}

header{
  min-height: 100%;
}
header .title{
  padding-top: 20vh;
}

.backgroungImg {
  height: 100vh;
  background-image: url("./componets//source/macComputer.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main{
  height: 100vh;
  /* overflow-y: scroll;
  scroll-behavior: smooth; */
}

.leterSpaceOne {
  letter-spacing: 1vw;
}

.letterSapce {
  letter-spacing: 0.7vw;
}

.letterSapce02 {
  letter-spacing: 0.2vw;
}

.fontSize3 {
  font-size: 3rem;
}

h5 {
  color: rgb(219, 217, 214);
}

h2 {
  color: #F2F2F2;
}

h4 {
  color: #F2F2F2;
}

.coverletter{
  color: white;
  text-align: center;
}

.coverpage p {
  font-size: 1.1rem;
  color: rgb(240, 240, 240);
  letter-spacing: 0.1vw;
  margin: 20px 0;
}

.coverpage p a {
  color: lightblue;
}

.coverpage p a:hover {
  text-decoration: none;
  color: lightpink;
  font-family: 'Open Sans', sans-serif;
}
.skills{
  margin-top: 10vh;
}
.skills-container {
  padding: 0 6vh 6vw;
}

.pb-10 {
  padding: 8vh 0;
}

.pt-80 {
  padding-top: 80px;
}

.mb-15vh {
  margin-bottom: 15vh;
}

.ht-25vh {
  height: 25vh;
}

section {
  min-height: 100vh;
}

.mt-10vh {
  margin-top: 10vh;
}

.mt-20{
  margin-top:20%
}

.text-style {
  font-size: 1rem;
}

.text-style p a {
  color: white;
  cursor: pointer;
}

.text-style p a:hover {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.contact{
  background: black;
}

.footerBackGournd {
  background-color: rgb(255, 255, 255);
  height: auto;
}

.footerText {
  margin-top: 3vh;
  color: black;
  font-size: 1.3rem;
}


/* Extra small devices (portrait phones; less than 576px) */

@media (min-width: 575.98px) and (max-width: 767.98px) {
 
  .mb-15vh {
    margin-bottom: 10vh;
  }

  .skills-container {
    padding: 0 4vh 4vw;
  }
  h5{
    font-size: 1rem;
  }

  .coverpage{
    margin-top: 10%;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 768.98px) and (max-width: 991.98px) {
 
  .skills-container {
    padding: 0 5vh 5vw;
  }
  h5{
    font-size: 1rem;
  }
  .coverpage{
    margin-top: 10%;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {}


